[submodule "redis"]
	path = redis
	url = git@github.com:grundstein/redis.git
[submodule "postgres"]
	path = postgres
	url = git@github.com:grundstein/postgres.git
[submodule "mongodb"]
	path = mongodb
	url = git@github.com:grundstein/mongodb.git
[submodule "gitlab"]
	path = gitlab
	url = git@github.com:grundstein/gitlab.git
[submodule "redmine"]
	path = redmine
	url = git@github.com:grundstein/redmine.git
[submodule "rocketchat"]
	path = rocketchat
	url = git@github.com:grundstein/rocketchat.git
