# postgres user settings
export POSTGRES_USER=postgres

# uncomment the next line and change the password to something meaningful
# the error message you see until you do this is meant to be taken serious!
# TODO: fail production build if password is not set.
#export POSTGRES_PASS=changeme

# postgres management database, service will create their own databases
export POSTGRES_DB=postgres

# postgres host settings
export POSTGRES_HOST_PORT=5432

# postgres container settings
export POSTGRES_CONTAINER_NAME=magic-postgres

# this is the internal port of the container
export POSTGRES_CONTAINER_PORT=5432

# postgres language and encoding
export POSTGRES_LANG="en_US.utf8"

# the directory the postgres data will be stored in
export PGDATA=/home/data/postgresql
